<h1>My FirstApp</h1>

<%= link_to 'company', controller: 'companies' %><br>

<%#= link_to 'user', controller: 'users' %>
<%= link_to 'user_role', controller: 'user_roles' %><br>
<%= link_to 'user_region', controller: 'user_regions' %><br>
<%= link_to 'region', controller: 'regions' %><br>
<%= link_to 'country', controller: 'countries' %><br>
<%= link_to 'state', controller: 'states' %><br>
<%= link_to 'city', controller: 'cities' %><br>
<%= link_to 'image', controller: 'images' %><br>
<%= link_to 'place', controller: 'places' %><br>
<%= link_to 'node', controller: 'nodes' %><br>
