<h1>Edit User_regions</h1>
<%= form_for :user_region, url: user_regions_path do |f| %>

<p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.collection_select :region_id, Region.all, :id, :region_name, prompt: true %>
    </p>

    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', user_regions_path %>
