<h1>Listing Images</h1>
 <%= link_to 'New image', new_image_path %>
<table>
  <tr>
    <th>User_id</th>
    <th>Real_name</th>
    <th>Image_name</th>

  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= image.user_id  %></td>
      <td><%= image.real_name  %></td>
      <td><%= image.image_name  %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
      <td><%= link_to 'Edit', edit_image_path(image) %></td>
      <td><%= link_to 'Destroy', image_path(image),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>
<%= link_to 'Back', home_index_path %>
