<%= form_for :place, url: places_path do |f| %>
  

  <p>
    <%= f.label :place_name %><br>
    <%= f.text_field :place_name %>
  </p>

  <p>
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>